
<!-- <app-header pageTitle="Formas de Pago" iconTitle="info" helpTitle="BancosPageHelp"></app-header> -->
<mat-card [@fallIn]='state'>
    <mat-card-title>
        Formas de Pago
    </mat-card-title>

    <mat-card-content>
        <button routerLink="/home">Ir a la Portada</button>
        <button routerLink="/wordpress-hosting">Ir a Wordpress Hosting</button>
        <button routerLink="/contactus">Contactenos</button>
        <br>
        <p>
            Formas de Pago a Domiserver en Venezuela.
        </p>
    </mat-card-content>
</mat-card>
